/* Top sectiopn */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.img {
    width: 200px;
    height: 59px;
}

.top-container {
    background: linear-gradient(45deg, #fddefc, #F0FFF0);
    padding: 0 50px 60px;
    margin-bottom: 5%;
}

.top-container:hover {
    background: linear-gradient(45deg, #ffebda, #F0FFF0);
}

.top-sehedule {
    color: #21B573;
}

.top-ready-to-learn {
    color: #FD511A;
}

.btn-success {
    border-radius: 20px;
    padding: 4px 20px;
}

/* STUDENT COUNT SECTION */
.student-count {
    width: 66px;
    height: 85px;
}

.student-div {
    background-color: #F0FFF0;
    padding: 12%;
    margin-bottom: 15%;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 20px lightcyan;
}

.student-div:hover {
    background: linear-gradient(45deg, #fddefc, #F0FFF0);
}

/* courses SECTION */
.course-img {

    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 20px lightcyan;
}

.course-img:hover {
    background: linear-gradient(45deg, #fed3ff, #eeffff);
}

.course-div:hover {
    background: linear-gradient(45deg, #ffd1e5, #F0FFF0);
}

.course-div {
    margin: 7%;
}

.card-footer {
    background-color: white;
    border: none;
}

.start-date p {
    font-size: 13px;
}

.people-margin {
    margin-left: 10;
}

/* TESTIMONIAL SECTION */
.testimonial-man {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: none;
}

.testimonial-div {
    margin: 5%;
}

.list-group {
    border: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0rem 1.25rem;
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, .125);
}

/* BOTTOM CONTAINER */

.container-bottom {
    background: rgb(51, 51, 51);
    color: white;
    margin: 5% auto;
    padding: 40px 50px 1px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(173, 234, 253);
}

.container-bottom h6 {
    font-size: 12px;
}

.container-bottom h5 {
    font-weight: bolder;
}

.container-bottom p {
    text-align: center;
    font-size: 11px;
    margin-top: 5%;
}

.row-text {
    font-weight: lighter;
}

.copyright-text {
    text-align: center;
    padding-top: 5%;
}


/* CONTACT SECTION */

.contact-bg {

    border-radius: 10px;
    margin: 30px auto;

    background: linear-gradient(45deg, #fddefc, #F0FFF0);
}

.contact-bg:hover {
    background: linear-gradient(45deg, #ffebda, #F0FFF0);
}

/* App Download  */
#download-app {
    padding: 20% auto;
    background: linear-gradient(45deg, #d9ddff, #F0FFF0);
    padding: 3%;
    text-align: center;
    border-radius: 10px;
}

#download-app:hover {
    background: linear-gradient(45deg, #efdcff, #c4fff5);
}

.download-button {
    margin: 2% auto 0 1%;
}


/* Footer*/
.social-icon {
    margin: 20px 10px;
}